:root {
    --primary-color: wheat;
    --secondary-color: #293251;
    --contrast-color: rgb(207, 188, 152);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Rimouski";

    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

body {
    background-color: var(--secondary-color);

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    height: 80%;
    width: 70vw;

    margin: 20px 0 20px;

    background-color: var(--contrast-color);
    border: 0.6rem solid var(--primary-color);
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    
    text-align: center;
}


.app-title p {
    padding: 15px;
    margin: 20px auto 0;
    font-size: 1.8em;
    color: var(--secondary-color);
}

.weather-container .temperature-value p{
    font-size: 40px;
    border-radius: 0.4rem;

    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.weather-container .temperature-description p,
.weather-container .location p {
    font-size: 20px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);

    border-radius: 0.4rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.inputs input {
    margin-top: 1rem;
}

#inputValue {
    padding: 5px;
    font-size: large;

    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.4rem;

    outline: none;
}

.inputs p {
    color: var(--secondary-color);
    font-weight: 700;
    font-family: monospace;

    cursor: pointer;
}

#button {
    width: 50%;

    font-size: large;
    font-weight: bold;
    font-family: monospace;

    align-self: center;
    padding: 5px;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    border: 1px solid var(--secondary-color);
    border-radius: 0.4rem;

    transition: 400ms;
    outline: none;
    cursor: pointer;

    margin-bottom: 16px;

    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

#button:hover {
    background-color: var(--contrast-color);
}


@media (min-width:700px) {
    .container {
        max-width: 500px;
    }

    #button {
        width: 100%;
    }
}

@media (min-height:800px) {
    .container {
        height: 50%;
    }
}

